.categories {

    .categories__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .categories__item {
        width: 360px;
        min-height: 260px;
        margin: 0 0 30px;
        background-size: cover;

        @include tablet {
            width: 32%;
            min-height: 168px;
            margin: 0 0 20px;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
            margin: 0 0 32px;
        }

        &--woman {
            background-image: url(../img/categories-woman.jpg);
        }

        &--man,
        &--kids,
        &--accessories {
            background-image: url(../img/categories-man.jpg);
        }

        &--accessories {
            width: 100%;
            min-height: 180px;

            @include tablet {
                min-height: 116px;;
            }

            @include mobile {
                min-height: 111px;
            }
        }
    }
}
